In [1]:
#importing basic libraries
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib.pyplot as plt
import missingno as mn
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.patches as patches
#Plotly Graphing Libraries
from plotly.offline import init_notebook_mode, iplot
import cufflinks
cufflinks.go_offline()
cufflinks.set_config_file(world_readable=True, theme='pearl')
import plotly.graph_objs as go
import plotly
import plotly.express as px
import plotly.figure_factory as ffb

In [63]:
# display 300 column and rows
pd.set_option('display.max_rows', 300)
test=pd.read_csv('./test.csv')
train=pd.read_csv('./train.csv')

In [64]:
train['loan_status'] = train['loan_status'].replace('FullyPaid','1').replace('ChargedOff','0')
train['loan_status'] = train['loan_status'].astype(np.float64)

In [65]:
# train['term'] = train['term'].str.replace('years', '')
# train['term'] = train['term'].str.replace('year', '')
# train['term'] = train['term'].astype(np.float64)
train['term'] = train['term'].str.replace('years', '').astype(np.float64)
train['loan_amount']=train['loan_amnt']*(1+(train['interest_rate'])*0.01)/train['term']
train['application_type'].replace(['Individual', 'Joint App'], [0, 1], inplace=True)
train['employment_length'] = train['employment_length'].str.replace('years', '')
train['employment_length'] = train['employment_length'].str.replace('year', '')
train['employment_length'] = train['employment_length'].astype(np.float64)
# test['term'] = test['term'].str.replace('years', '')
# test['term'] = test['term'].str.replace('year', '')
# test['term'] = test['term'].astype(np.float64)
test['term'] = test['term'].str.replace('years', '').astype(np.float64)
test['loan_amount']=test['loan_amnt']*(1+(test['interest_rate'])*0.01)/test['term']
test['application_type'].replace(['Individual', 'Joint App'], [0, 1], inplace=True)
test['employment_length'] = test['employment_length'].str.replace('years', '')
test['employment_length'] = test['employment_length'].str.replace('year', '')
test['employment_length'] = test['employment_length'].astype(np.float64)

In [68]:
test

,id,loan_amnt,term,interest_rate,grade,employment_length,purpose,credit_score,application_type,loan_amount
0,242150,1161.830205,3.0,13.105362,19,10.0,credit_card,682.016083,0,438.030753
1,242151,2257.465815,5.0,14.196200,15,10.0,debt_consolidation,668.240313,0,515.588035
2,242152,2182.137002,3.0,8.307772,25,10.0,credit_card,703.277694,0,787.807992
3,242153,520.284912,3.0,6.956504,28,7.0,debt_consolidation,731.138779,0,185.492852
4,242154,2303.349549,3.0,11.658497,22,6.0,debt_consolidation,698.368991,0,857.295159
...,...,...,...,...,...,...,...,...,...,...
26895,269045,1169.767130,3.0,13.609916,21,1.0,credit_card,656.939828,0,442.990486
26896,269046,2235.153322,3.0,7.248690,28,10.0,credit_card,765.770393,0,799.057554
26897,269047,3272.971410,3.0,9.957002,21,6.0,debt_consolidation,793.887391,0,1199.620412
26898,269048,1607.397707,3.0,10.892554,22,10.0,debt_consolidation,658.815541,0,594.161456
26899,269049,637.176361,3.0,7.913091,25,9.0,debt_consolidation,713.249287,0,229.198902

In [69]:
# train['grade'].replace(['A1', 'A2', 'A3', 'A4', 'A5'], [29, 28, 27, 26, 25], inplace=True)
# train['grade'].replace(['B1', 'B2', 'B3', 'B4', 'B5'], [24, 23, 22, 21, 20], inplace=True)
# train['grade'].replace(['C1', 'C2', 'C3', 'C4', 'C5'], [19, 18, 17, 16, 15], inplace=True)
# train['grade'].replace(['D1', 'D2', 'D3', 'D4', 'D5'], [14, 13, 12, 11, 10], inplace=True)
# train['grade'].replace(['E1', 'E2', 'E3', 'E4', 'E5'], [9, 8, 7, 6, 5], inplace=True)
# train['grade'].replace(['F1', 'F2', 'F3', 'F4', 'F5'], [4, 3, 2, 1, 0], inplace=True)
# train['grade'].astype(np.float64)
# train['grade']=train['grade']/train['grade'].max()
# # temp=temp.sort_values('grade')
# train['employment_length']=train['employment_length']/train['employment_length'].max()
# train['credit_score']=train['credit_score']/train['credit_score'].max()
# train['total_credit']=train['grade']+train['employment_length']+train['credit_score']
# test['grade'].replace(['A1', 'A2', 'A3', 'A4', 'A5'], [29, 28, 27, 26, 25], inplace=True)
# test['grade'].replace(['B1', 'B2', 'B3', 'B4', 'B5'], [24, 23, 22, 21, 20], inplace=True)
# test['grade'].replace(['C1', 'C2', 'C3', 'C4', 'C5'], [19, 18, 17, 16, 15], inplace=True)
# test['grade'].replace(['D1', 'D2', 'D3', 'D4', 'D5'], [14, 13, 12, 11, 10], inplace=True)
# test['grade'].replace(['E1', 'E2', 'E3', 'E4', 'E5'], [9, 8, 7, 6, 5], inplace=True)
# test['grade'].replace(['F1', 'F2', 'F3', 'F4', 'F5'], [4, 3, 2, 1, 0], inplace=True)
# test['grade'].astype(np.float64)
test['grade']=test['grade']/test['grade'].max()
# # temp=temp.sort_values('grade')
test['employment_length']=test['employment_length']/test['employment_length'].max()
test['credit_score']=test['credit_score']/test['credit_score'].max()
test['total_credit']=test['grade']+test['employment_length']+test['credit_score']

In [70]:
delete_columns = ['purpose']
train.drop(delete_columns, axis=1, inplace=True)

X_train=train.drop('loan_status',axis=1)
y_train=train['loan_status']

In [ ]:
X_test=test
delete_columns = ['purpose']
test.drop(delete_columns, axis=1, inplace=True)

# random,logistic

In [61]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

clf = LogisticRegression(penalty='12',solver='sag',random_state=0)
# clf = RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)

In [63]:
# X_train.info()
clf.fit(X_train,y_train)

ValueError: Logistic Regression supports only penalties in ['l1', 'l2', 'elasticnet', 'none'], got 12.

# lightgbm

In [71]:
test

,id,loan_amnt,term,interest_rate,grade,employment_length,purpose,credit_score,application_type,loan_amount,total_credit
0,242150,1161.830205,3.0,13.105362,0.655172,1.0,credit_card,0.840256,0,438.030753,2.495429
1,242151,2257.465815,5.0,14.196200,0.517241,1.0,debt_consolidation,0.823284,0,515.588035,2.340526
2,242152,2182.137002,3.0,8.307772,0.862069,1.0,credit_card,0.866451,0,787.807992,2.728520
3,242153,520.284912,3.0,6.956504,0.965517,0.7,debt_consolidation,0.900776,0,185.492852,2.566293
4,242154,2303.349549,3.0,11.658497,0.758621,0.6,debt_consolidation,0.860403,0,857.295159,2.219024
...,...,...,...,...,...,...,...,...,...,...,...
26895,269045,1169.767130,3.0,13.609916,0.724138,0.1,credit_card,0.809362,0,442.990486,1.633500
26896,269046,2235.153322,3.0,7.248690,0.965517,1.0,credit_card,0.943443,0,799.057554,2.908960
26897,269047,3272.971410,3.0,9.957002,0.724138,0.6,debt_consolidation,0.978084,0,1199.620412,2.302222
26898,269048,1607.397707,3.0,10.892554,0.758621,1.0,debt_consolidation,0.811673,0,594.161456,2.570293
26899,269049,637.176361,3.0,7.913091,0.862069,0.9,debt_consolidation,0.878736,0,229.198902,2.640805

In [76]:
from sklearn.model_selection import train_test_split


X_train, X_valid, y_train, y_valid = \
    train_test_split(X_train, y_train, test_size=0.3,
                                 random_state=0, stratify=y_train)

In [77]:
# categorical_features = ['term', 'interest_rate', 'credit_score','loan_amount','loan_amount','employment_length','application_type']
categorical_features = ['total_credit','loan_amount']
# categorical_features = ['term', 'interest_rate', 'credit_score','loan_amount','loan_amount']

# categorical_features = ['term']

In [86]:
import lightgbm as lgb


lgb_train = lgb.Dataset(X_train, y_train,
                                         categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train,
                                         categorical_feature=categorical_features)

params = {
    'objective': 'binary',
    'max_bin': 300,
    'learning_rate': 0.05,
    'num_leaves': 40
}

model = lgb.train(params, lgb_train,
                               valid_sets=[lgb_train, lgb_eval],
                               verbose_eval=10,
                               num_boost_round=1000,
                               early_stopping_rounds=10)

y_pred = model.predict(X_test, num_iteration=model.best_iteration)

[LightGBM] [Info] Number of positive: 97899, number of negative: 20754
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.014409 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2310
[LightGBM] [Info] Number of data points in the train set: 118653, number of used features: 10
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.825087 -> initscore=1.551197
[LightGBM] [Info] Start training from score 1.551197
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.43147	valid_1's binary_logloss: 0.437915
[20]	training's binary_logloss: 0.416998	valid_1's binary_logloss: 0.428993
[30]	training's binary_logloss: 0.408027	valid_1's binary_logloss: 0.425883
[40]	training's binary_logloss: 0.401562	valid_1's binary_logloss: 0.424715
[50]	training's binary_logloss: 0.397052	valid_1's binary_logloss: 0.424894
Early stopping, best iteration is:
[43]	training's binary_logloss: 0.400065	valid_1's binary_logloss: 0.424662

In [87]:
y_pred = (y_pred > 0.5).astype(int)
u, counts = np.unique(y_pred, return_counts=True)
# print(np.unique(y_pred))
print(u)
print(counts)

[0 1]
[  530 26370]

In [83]:
# y_pred = clf.predict(X_test)

NameError: name 'clf' is not defined

In [88]:
# temp=y_pred

In [33]:
# submit=pd.read_csv('./submit.csv')
# with open('./submit.csv') as f:
#     submit=f.read()

In [90]:
submit = pd.read_csv('./submit.csv', header=None, names=['id', 'loan_status'])

In [91]:
# submit['loan_status']=y_pred.astype('int64')
submit['loan_status']=y_pred
# submit.columns = [''] * len(submit.columns
# submit
submit.to_csv('file.csv', header=False, index=False)